*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
}

@media (max-width: 790px) {
  html {
    --spacing: 1.5rem;
  }
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  margin: auto;
  display: flex;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.modal{ /* background */
  color: white;
  display: none;  /*Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: auto;
  height: auto;
  overflow: auto; 
  background-color: rgb(0,0,0); 
}

.content{
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.canvas-container {
  width: 100vw;
  height: 100dvh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

#display-canvas:hover {
  cursor: grab;
}

#display-canvas:active {
  cursor: grabbing;
}

#display-canvas:focus-visible {
  outline: none;
}
